<p id="notice"><%= notice %></p>

<h1>Rivues</h1>

    <% @posts.each do |post| %>
      <%= link_to current_user.username, current_user %> <br>
              <h3><%= post.title %></h3> 
      <%= post.body %> <br>
      <%= link_to 'Show', post %>
      <% if post.user == current_user %>
        <%= link_to 'Edit', edit_post_path(post) %>
        <%= link_to 'Delete post', post, method: :delete, data: { confirm: 'Are you sure?' } %> <br>
      <% end %>
    <% end %>


<br>

<%= link_to 'New rivue', new_post_path %>
