<p id="notice"><%= notice %></p>

<h1>Rivues</h1>


</div>
    <% @posts.each do |post| %>
    <div class="wrapper"> 
           <%= link_to current_user.username, current_user %> <br>
           <h3><%= link_to post.title, post %></h3> 
           <%= post.image.url %>
                <%= post.body %> <br>
       <% if post.user == current_user %>
        <%= link_to 'Edit', edit_post_path(post) %>
        <%= link_to 'Delete post', post, method: :delete, data: { confirm: 'Are you sure?' } %> <br>
        </div>
      <% end %>
    <% end %>


<br>

<%= link_to 'New rivue', new_post_path %>
