<p id="notice"><%= notice %></p>

<h2>
  <%= @post.title %>
</h2>
  <%= image_tag @post.image.url %>

<p>
  
  <%= @post.body %>
</p>

  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Back', current_user %>
